:root {
  --color-black: #121212;
  --color-pearl-white: #e0e0e0;
  --color-off-white: #f1f6f5;
  --color-white: #fff;
  --color-primary-blue: #4b56d2;
  --color-dark-blue: #472183;
  --color-sky-blue: #82c3ec;
  --color-dark-grey: #423f3e;
  --color-red: #b00020;
  --color-green: #00c4b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color-black);
  color: var(--color-pearl-white);
  line-height: 2;
}
h1.h1-primary {
  font-size: 4.5rem;
  line-height: 1;
}

h2.h2-primar {
  font-size: 3.5rem;
  line-height: 1;
}

p.h2-primary {
  font-size: 3.5rem;
}

p.p-large {
  font-size: 2rem;
}

p.p-primary {
  font-size: 1.6rem;
}

p.p-medium {
  font-size: 1.4rem;
}

p.small {
  font-size: 1.2rem;
}

.text-large {
  font-size: 2rem;
}

.text-primary {
  font-size: 1.6rem;
}

.text-medium {
  font-size: 1.4rem;
}

.text-small {
  font-size: 1.2rem;
}
