.main {
  margin-top: 20rem;
  padding-inline: 4rem;
}

.heading {
  text-align: center;
}

.subtext {
  margin-top: 4rem;
  margin-inline: auto;
  width: 80rem;
}

.form {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 1rem 2rem;
  width: 35rem;
  outline: none;
  border: 5px solid var(--color-primary-blue);
  border-radius: 1rem;
  font-size: 2rem;
}

.input::placeholder {
  color: gray;
}

.button {
  border: none;
  background-color: var(--color-primary-blue);
  color: var(--color-off-white);
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  cursor: pointer;
}

.loader {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  font-size: 4rem;
}

.desktop-text {
  margin-top: 2rem;
  text-align: center;
  color: var(--color-primary-blue);
}

@media (max-width: 78.125em) {
  .main {
    margin-top: 16rem;
  }
  .subtext {
    width: 70vw;
  }
  .input {
    font-size: 1.8rem;
    width: 30rem;
  }
  .form {
    margin-top: 4rem;
  }

  .button {
    padding: 1.2rem 3.7rem;
  }
  .loader {
    font-size: 3rem;
  }
}

@media (max-width: 48em) {
  .main {
    padding-inline: 2rem;
    margin-top: 10rem;
  }

  .input {
    font-size: 1.4rem;
    width: 28rem;
  }

  .subtext {
    margin-top: 2rem;
    width: 90vw;
  }

  .form {
    margin-top: 2rem;
  }

  .button {
    padding: 1rem 3.5rem;
  }

  .loader {
    font-size: 2rem;
  }
}
